*{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
body{
  display: flex;
  align-items: center;
}
.fondo03-1{
  background-image: url(assets/img/maxresdefault.jpg);
  position: relative;
}
.fondo03-2{
  background-image: url(assets/img/kitten-small.png);
  position: absolute;
  width: 45em;
  height: 27em;
  top: 16em;
  right: 16em;
}
